src/main/resources/dos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- Pathways DoS web service: v1.3 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://nww.pathwaysdos.nhs.uk/app/api/webservices"
    xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://nww.pathwaysdos.nhs.uk/app/api/webservices"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="https://nww.pathwaysdos.nhs.uk/app/api/webservices">
            <s:element name="ServiceDetailsById">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="userInfo" type="tns:UserInfo" />
                        <s:element minOccurs="1" maxOccurs="1" name="serviceId" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ServiceDetailsByIdResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="services" type="tns:ArrayOfServices" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfServices">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="service" nillable="true" type="tns:ServiceDetail" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ServiceDetail">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="odsCode" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="contactDetails" type="tns:ArrayOfContactDetails" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfContactDetails">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="contactDetail" nillable="true" type="tns:ContactDetail" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ContactDetail">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="tag" type="tns:contactType" />
                    <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="value" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="order" type="s:int" />
                </s:sequence>
            </s:complexType>
            <s:element name="serviceVersion" type="s:string" />
            <s:complexType name="UserInfo">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="username" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="GetHospitalScores">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:UserInfo" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetHospitalScoresResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetHospitalScoresResult" type="tns:ArrayOfHospitalScores" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfHospitalScores">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="Hospital" nillable="true" type="tns:Hospital" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="Hospital">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="hospital_name" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="total_score" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="note" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="update_date" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="CheckCapacitySummary">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="userInfo" type="tns:UserInfo" />
                        <s:element minOccurs="1" maxOccurs="1" name="c" type="tns:Case" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Case">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="caseRef" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="caseId" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="postcode" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="surgery" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="age" type="s:short" />
                    <s:element minOccurs="1" maxOccurs="1" name="ageFormat" type="tns:ageFormatType" />
                    <s:element minOccurs="1" maxOccurs="1" name="disposition" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="symptomGroup" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="symptomDiscriminatorList" type="tns:ArrayOfInt" />
                    <s:element minOccurs="0" maxOccurs="1" name="searchDistance" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="gender" type="tns:genderType" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="SACase">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="caseRef" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="caseId" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="postcode" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="surgery" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="age" type="s:short" />
                    <s:element minOccurs="1" maxOccurs="1" name="ageFormat" type="tns:ageFormatType" />
                    <s:element minOccurs="1" maxOccurs="1" name="disposition" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="symptomGroup" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="symptomDiscriminator" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="searchDistance" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="gender" type="tns:genderType" />
                    <s:element minOccurs="0" maxOccurs="1" name="searchRole" type="s:int" />
                </s:sequence>
            </s:complexType>
            <s:simpleType name="genderType">
                <s:restriction base="s:string">
                    <s:enumeration value="M" />
                    <s:enumeration value="F" />
                    <s:enumeration value="I" />
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="contactType">
                <s:restriction base="s:string">
                    <s:enumeration value="dts" />
                    <s:enumeration value="itk" />
                    <s:enumeration value="telno" />
                    <s:enumeration value="email" />
                    <s:enumeration value="faxno" />
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="ageFormatType">
                <s:restriction base="s:string">
                    <s:enumeration value="Years" />
                    <s:enumeration value="AgeGroup" />
                </s:restriction>
            </s:simpleType>
            <s:complexType name="ArrayOfInt">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
                </s:sequence>
            </s:complexType>
            <s:element name="CheckCapacitySummaryResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="TransactionId" type="s:string" />
                        <s:element minOccurs="1" maxOccurs="1" name="CheckCapacitySummaryResult" type="tns:ArrayOfServiceCareSummaryDestination" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ServiceAnalysisResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="TransactionId" type="s:string" />
                        <s:element minOccurs="1" maxOccurs="1" name="ServiceAnalysisResultArray" type="tns:ArrayOfServiceAnalysisResults" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfServiceCareSummaryDestination">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceCareSummaryDestination" nillable="true"
                        type="tns:ServiceCareSummaryDestination" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfServiceAnalysisResults">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceAnalysisResult" nillable="true"
                        type="tns:ServiceAnalysisResult" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ServiceCareSummaryDestination">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="capacity" type="tns:Capacity" />
                    <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="contactDetails" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="northings" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="eastings" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="serviceType" type="tns:serviceDetails" />
                    <s:element minOccurs="0" maxOccurs="1" name="odsCode" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="nonPublicTelephoneNo" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="referralText" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="distance" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="openAllHours" type="s:boolean" />
                    <s:element minOccurs="0" maxOccurs="1" name="rotaSessions" type="tns:ArrayOfServiceCareItemRotaSession" />
                    <s:element minOccurs="0" maxOccurs="1" name="openTimeSpecifiedSessions" type="tns:ArrayOfOpenTimeSpecified" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ServiceAnalysisResult">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="capacity" type="tns:Capacity" />
                    <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="contactDetails" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="northings" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="eastings" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="serviceType" type="tns:serviceDetails" />
                    <s:element minOccurs="0" maxOccurs="1" name="odsCode" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="nonPublicTelephoneNo" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="referralText" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="distance" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="openAllHours" type="s:boolean" />
                    <s:element minOccurs="0" maxOccurs="1" name="rotaSessions" type="tns:ArrayOfServiceCareItemRotaSession" />
                    <s:element minOccurs="0" maxOccurs="1" name="openTimeSpecifiedSessions" type="tns:ArrayOfOpenTimeSpecified" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="serviceDetails">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
                    <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfServiceCareDestination">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceCareDestination" nillable="true" type="tns:ServiceCareDestination" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ServiceCareDestination">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="capacity" type="tns:Capacity" />
                </s:sequence>
            </s:complexType>
            <s:simpleType name="Capacity">
                <s:restriction base="s:string">
                    <s:enumeration value="High" />
                    <s:enumeration value="Low" />
                    <s:enumeration value="None" />
                </s:restriction>
            </s:simpleType>
            <s:complexType name="ArrayOfServiceCareItemRotaSession">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceCareItemRotaSession" nillable="true"
                        type="tns:ServiceCareItemRotaSession" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ServiceCareItemRotaSession">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="startDayOfWeek" type="tns:DayOfWeek" />
                    <s:element minOccurs="0" maxOccurs="1" name="startTime" type="tns:TimeOfDay" />
                    <s:element minOccurs="1" maxOccurs="1" name="endDayOfWeek" type="tns:DayOfWeek" />
                    <s:element minOccurs="0" maxOccurs="1" name="endTime" type="tns:TimeOfDay" />
                    <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:simpleType name="DayOfWeek">
                <s:restriction base="s:string">
                    <s:enumeration value="Sunday" />
                    <s:enumeration value="Monday" />
                    <s:enumeration value="Tuesday" />
                    <s:enumeration value="Wednesday" />
                    <s:enumeration value="Thursday" />
                    <s:enumeration value="Friday" />
                    <s:enumeration value="Saturday" />
                    <s:enumeration value="Bankholiday" />
                </s:restriction>
            </s:simpleType>
            <s:complexType name="TimeOfDay">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="hours" type="s:short" />
                    <s:element minOccurs="1" maxOccurs="1" name="minutes" type="s:short" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfOpenTimeSpecified">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="openTimeSpecified" nillable="true"
                        type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="ExceptionCapture">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="userInfo" type="tns:UserInfo" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ExceptionCaptureResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExceptionCaptureResult" type="tns:ArrayOfExceptionCapture" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfExceptionCapture">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ExceptionCapture" nillable="true" type="tns:ExceptionCapture" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ExceptionCapture">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="exceptionid" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="ServiceAnalysis">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="userInfo" type="tns:UserInfo" />
                        <s:element minOccurs="1" maxOccurs="1" name="c" type="tns:SACase" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="CheckCapacitySummarySoapIn">
        <wsdl:part name="parameters" element="tns:CheckCapacitySummary" />
    </wsdl:message>
    <wsdl:message name="CheckCapacitySummarySoapOut">
        <wsdl:part name="parameters" element="tns:CheckCapacitySummaryResponse" />
    </wsdl:message>
    <wsdl:message name="ServiceAnalysisSoapIn">
        <wsdl:part name="parameters" element="tns:ServiceAnalysis" />
    </wsdl:message>
    <wsdl:message name="ServiceAnalysisSoapOut">
        <wsdl:part name="parameters" element="tns:ServiceAnalysisResponse" />
    </wsdl:message>
    <wsdl:message name="ExceptionCaptureSoapIn">
        <wsdl:part name="parameters" element="tns:ExceptionCapture" />
    </wsdl:message>
    <wsdl:message name="ExceptionCaptureSoapOut">
        <wsdl:part name="parameters" element="tns:ExceptionCaptureResponse" />
    </wsdl:message>
    <wsdl:message name="ServiceVersionHeader">
        <wsdl:part name="ServiceVersion" element="tns:serviceVersion" />
    </wsdl:message>
    <wsdl:message name="ServiceDetailsByIdRequest">
        <wsdl:part element="tns:ServiceDetailsById" name="parameters" />
    </wsdl:message>
    <wsdl:message name="ServiceDetailsByIdResponse">
        <wsdl:part element="tns:ServiceDetailsByIdResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="GetHospitalScoresSoapIn">
        <wsdl:part name="parameters" element="tns:GetHospitalScores" />
    </wsdl:message>
    <wsdl:message name="GetHospitalScoresSoapOut">
        <wsdl:part name="parameters" element="tns:GetHospitalScoresResponse" />
    </wsdl:message>
    <wsdl:portType name="PathWayServiceSoap">
        <wsdl:operation name="ServiceDetailsById">
            <wsdl:documentation>This service returns attributes for a given
                service id, this currently returns the following attributes
                - contactdetails: This attribute contain any contact details for the
                specified service id.
                - tag: a short tag for the contact detail. E.g. itk, telno, faxno,
                dts
                - name: the friendly name of the contact detail. E.g. 111 routing,
                Telephone No, Fax No, DTS
                - priority: The priority of the contact detail for the service.
                - value: The actual contact detail value.
            </wsdl:documentation>
            <wsdl:input message="tns:ServiceDetailsByIdRequest" />
            <wsdl:output message="tns:ServiceDetailsByIdResponse" />
        </wsdl:operation>
        <wsdl:operation name="GetHospitalScores">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the OHA score
                for all Emergency Departments
            </wsdl:documentation>
            <wsdl:input message="tns:GetHospitalScoresSoapIn" />
            <wsdl:output message="tns:GetHospitalScoresSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="CheckCapacitySummary">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an ordered
                list of Service Care items with an integrated ServiceCare record
            </wsdl:documentation>
            <wsdl:input message="tns:CheckCapacitySummarySoapIn" />
            <wsdl:output message="tns:CheckCapacitySummarySoapOut" />
        </wsdl:operation>
        <wsdl:operation name="ServiceAnalysis">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an ordered
                list of services that are clinically appropriate
            </wsdl:documentation>
            <wsdl:input message="tns:ServiceAnalysisSoapIn" />
            <wsdl:output message="tns:ServiceAnalysisSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="ExceptionCapture">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all the
                ExceptionCapture items for a particular user
            </wsdl:documentation>
            <wsdl:input message="tns:ExceptionCaptureSoapIn" />
            <wsdl:output message="tns:ExceptionCaptureSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PathWayServiceSoap12" type="tns:PathWayServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ServiceDetailsById">
            <soap12:operation soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/ServiceDetailsById" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion" use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetHospitalScores">
            <soap12:operation soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/GetHospitalScores" style="document" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion" use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CheckCapacitySummary">
            <soap12:operation soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/CheckCapacitySummary" style="document" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion" use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ServiceAnalysis">
            <soap12:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/ServiceAnalysis" style="document" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion" use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExceptionCapture">
            <soap12:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/ExceptionCapture" style="document" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion" use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PathWayService">
        <wsdl:port name="PathWayServiceSoap12" binding="tns:PathWayServiceSoap12">
            <soap12:address location="https://nww.pathwaysdos.nhs.uk/app/api/webservices" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>